html{   
    background-color: #000;
}

.container-calculadora{
    border: 5px solid #fff;
    width: 30vw;
    height: 80vh;
    margin: 0 auto;
}

.container-titulo{
    display: flex;
    justify-content: center;
}

.titulo{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.columna-botones > button{
    margin: 1vh 1px 10px 0;
    padding: 2vh 2vw 1vh 2vw;
}

#screen{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 1vw 1vw 1vw;
}
#display{
    background-color: #fff;
    width: 100%;
    height: 30px;
    text-align: right;

    color: #000;
}

#result{
    background-color: #fff;
    width: 100%;
    height: 30px;
    text-align: right;
    color: #000;
}